<% layout('layouts/boilerplate') %>

    <div class="container d-flex justify-content-center align-items-center mt-5 ">
        <div class="row">
            <div class="col-md-6 offset-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1495141913894-d98df1f5ceba?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxMTgwOTN8MHwxfHNlYXJjaHwzfHx0cmVrfGVufDB8fHw&ixlib=rb-1.2.1&q=80&w=1080" 
                    alt="" class="card-img-top">
                   <div class="card-body">
                    <h5 class="card-title">Register</h5>

                    <form class="validated-form" novalidate action="/register" method="post">
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="invalid-feedback">
                            This username already exists
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="invalid-feedback">
                            This email already exists
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block" >Register</button>
                    </form>

                   </div>   
                </div>
            </div>
        </div>
    </div>